In [89]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [90]:
#index_col='index' incase of an index column.
user_dt=pd.read_csv("C:/Users/navya/Desktop/TimeSeries/Assignment (1).csv")

In [91]:
user_dt.columns

Index(['Product', 'Location', 'Date', 'Value'], dtype='object')

In [92]:
user_dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   68 non-null     int64
 1   Location  68 non-null     int64
 2   Date      68 non-null     object
 3   Value     68 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.3+ KB

In [93]:
print('shape of df',user_dt.shape)

shape of df (68, 4)

In [94]:
user_dt.head

<bound method NDFrame.head of     Product  Location        Date     Value
0       220      1000  01-11-2020   11.2624
1       220      1000  01-02-2021   88.6424
2       220      1000  01-03-2021  251.2868
3       220      1000  01-04-2021   11.3680
4       220      1000  01-05-2021    2.4554
..      ...       ...         ...       ...
63     1138      1200  01-05-2023    2.2266
64      394      1000  01-01-2023  140.6373
65      394      1000  01-02-2023  241.7332
66      394      1000  01-04-2023  152.8392
67      394      1000  01-05-2023   54.1080

[68 rows x 4 columns]>

In [95]:
user_dt.dtypes

Product       int64
Location      int64
Date         object
Value       float64
dtype: object

In [96]:
user_dt['Date']

0     01-11-2020
1     01-02-2021
2     01-03-2021
3     01-04-2021
4     01-05-2021
         ...
63    01-05-2023
64    01-01-2023
65    01-02-2023
66    01-04-2023
67    01-05-2023
Name: Date, Length: 68, dtype: object

In [97]:
user_dt.Date.nunique
#68 unique values
print(user_dt.value_counts().count())

68

In [98]:
user_dt.describe()

           Product     Location       Value
count    68.000000    68.000000   68.000000
mean    364.235294  1138.235294   58.141431
std     407.767497   136.074400   61.121576
min      50.000000  1000.000000    0.689400
25%      50.000000  1000.000000   10.825200
50%     220.000000  1200.000000   41.335050
75%     394.000000  1300.000000   89.802500
max    1138.000000  1300.000000  251.286800

In [99]:
user_dt.describe(include='all')

            Product     Location        Date       Value
count     68.000000    68.000000          68   68.000000
unique          NaN          NaN          32         NaN
top             NaN          NaN  01-04-2023         NaN
freq            NaN          NaN           4         NaN
mean     364.235294  1138.235294         NaN   58.141431
std      407.767497   136.074400         NaN   61.121576
min       50.000000  1000.000000         NaN    0.689400
25%       50.000000  1000.000000         NaN   10.825200
50%      220.000000  1200.000000         NaN   41.335050
75%      394.000000  1300.000000         NaN   89.802500
max     1138.000000  1300.000000         NaN  251.286800

In [100]:
print('first',user_dt.Date.value_counts().head(1))
print('last date',user_dt.Date.value_counts().tail())

first Date
01-04-2023    4
Name: count, dtype: int64
last date Date
01-08-2021    1
01-04-2021    1
01-03-2021    1
01-10-2020    1
01-12-2022    1
Name: count, dtype: int64

In [101]:
round(user_dt.Value.mean())

58

In [102]:
# Convert Date to date dtype from object
user_dt['Date']=pd.to_datetime(user_dt['Date'])
# Find the range of the dates
date_range= str(user_dt['Date'].dt.date.min()) + ' to ' + str(user_dt['Date'].dt.date.max())

In [103]:
print(date_range)

2020-01-06 to 2023-01-05

In [104]:
# Calculate average Value for each month for each location
user_dt.groupby(user_dt['Date'].dt.year)['Value'].mean()

Date
2020    24.071800
2021    52.908632
2022    69.586292
2023    61.187847
Name: Value, dtype: float64

In [105]:
change_date_format= user_dt['Date'].dt.strftime("%d/%m/%Y")
user_dt['Date']=change_date_format

In [106]:
# Calculate average Value for each month for each location
user_dt.groupby(['Date','Location'])['Value'].mean().sort_values(ascending=True)

#we observe that the average value is minimum for Location 1200

Date        Location
02/01/2021  1200          0.6894
08/01/2021  1000          0.8764
11/01/2021  1300          2.0900
05/01/2023  1200          2.2266
08/01/2022  1200          2.2942
                          ...
06/01/2022  1000        173.5654
02/01/2023  1000        183.1062
03/01/2022  1000        192.0334
09/01/2022  1000        204.1900
03/01/2021  1000        251.2868
Name: Value, Length: 64, dtype: float64

In [107]:
user_dt['MAvg'] = user_dt['Value'].rolling(window=3).mean()

In [109]:
last_moving_avg=user_dt['Value'].iloc[-1]
print(last_moving_avg)

54.108

In [112]:
user_dt.index[-1]

67

In [130]:
user_dt['Date']=pd.to_datetime(user_dt['Date'])

In [131]:
forecast_time=3
last_date=user_dt['Date'].iloc[-1]
future_dates=pd.date_range(freq='M',start=last_date + pd.DateOffset(months=1),periods=forecast_time)

In [132]:
forecast_df = pd.DataFrame({'date': future_dates, 'forecasted_value': [last_moving_avg] * forecast_time})
forecast_df.set_index('date', inplace=True)

In [133]:
print(forecast_df)

            forecasted_value
date
2023-06-30              30.0
2023-07-31              30.0
2023-08-31              30.0